.insert-stock-container {
    background:url('./butter.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 94vh;
}

.container-stock {
    padding-top: 30px;
    background:url('./cocoa.png') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
}

.container-insert-stock {
    top: 50px;
    position:relative;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form {
    width: 60%;
}

.title-stock {
    text-align: center;
    padding-top: 30px;
    display: block;
    font-size: 2em;
    font-weight: bolder;
}
.added_ingredients{
    border: 1px solid rgba(211, 211, 211, 0.815);

    margin: 5px;
}
.field-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.message {
    display: block;
}

.delete {
    display: none;
}

.box-container {
    background:url('../Box/spoon.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.panel-block {
    justify-content: space-around;
}


.table {
    background-color: transparent!important;
}

.panel {
    background-color: rgba(0, 0, 0, .1);
}

.panel-heading {
    font-size: 15px;
}

.panel-heading  p{
    display: none;
}

html {
    scroll-behavior: smooth;
}

.box-container {
    padding-top: 30px;
    background-attachment: fixed;
    height: 94vh!important;
}

.added_ingredients {
    background-color: white;
    padding: 5px 10px;
    margin-top: 3vh;
}

.textarea, .input, .added_ingredients {
    opacity: 50%;
}

.select:not(.is-multiple) {
    width: 25em;
    opacity: 50%;
}

.input {
    height: 3.7vh;
}

.label {
    color: #4a4a4a;
}

#ingredient {
    width: 18em;
}

.field {
    text-align: left;
}

.panel .is-danger .panel-heading {
    background-color: #ed7990!important;
}

.panel .is-warning {
    background-color: #f1d566;
}