.insert-stock-container {
    background:url('./butter.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 94vh;
}


.full {
    color: green;
}

.empty {
    color: red;
}

.container-stock {
    padding-top: 30px;
    background:url('./muffin.png') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
}

.container-insert-stock {
    top: 50px;
    position:relative;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form {
    width: 60%;
}

.title-stock {
    text-align: center;
    padding-top: 30px;
    display: block;
    font-size: 2em;
    font-weight: bolder;
}
.added_ingredients{
    border: 1px solid rgba(211, 211, 211, 0.815);

    margin: 5px;
}
.field-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.message {
    display: block;
}

.delete {
    display: none;
}

.box-container {
    background:url('../Box/spoon.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.panel-block {
    justify-content: space-around;
}


.table {
    background-color: transparent!important;
}

.panel {
    background-color: rgba(0, 0, 0, .1);
}

.panel-heading {
    font-size: 15px;
}

.panel-heading  p{
    display: none;
}

html {
    scroll-behavior: smooth;
}