@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
Link {
  text-decoration: none;
  color: inherit;
}

body {
  top: 50px;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 5px 0px;
  background: white;
  box-shadow: 0 0 10px rgba(41, 54, 95, 0.1);
  width: 100%;
  height: 8vh;
  /* z-index:999999; */
}

a {
  color: black;
}
/*.logo{
  display:inline-block;
  width:70px;
  height:70px;
}
.logo img{
  max-width:100%;
  height:auto;
}*/
.navbar-item{
  display: inline-block;
  margin-left: 15px;
}

.navbar {
  align-items: center;
  display: flex;
}

.submit-button {
  justify-content: center;
  display: flex;
}

.logoHola {
  height: 17%;
  width: 17%;
  float: right;
}
