@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
Link{
  text-decoration:none;
  color:inherit;
}
body{
  position:relative;
  font-family: 'Poppins', sans-serif;
}
nav{
  position:fixed;
  top:0;
  left:0;
  right:0;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:5px 20px 5px 0px;
  background:#fff;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
}

/*.logo{
  display:inline-block;
  width:70px;
  height:70px;
}
.logo img{
  max-width:100%;
  height:auto;
}*/
.navbar-item{
  display:inline-block;
  margin-left:15px;
}
